{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'lampada.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>QuizFunny</title>

    <style>
        body {
            background-color: #f8f9fa; /* Cor de fundo para todo o corpo */
            font-family: Arial, sans-serif; /* Fonte padrão */ 
        }

        .container {
            background-color: #ffffff; /* Fundo branco para o conteúdo */
            border-radius: 10px; /* Borda arredondada */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
            padding: 30px; /* Espaçamento interno */
            margin-top: 30px; /* Espaçamento superior */
        }

        form {
            max-width: 400px; /* Largura máxima do formulário */
            margin: 0 auto; /* Centraliza o formulário */
        }

        label {
            font-weight: bold; /* Texto do label em negrito */
            color: #343a40; /* Cor do texto do label */
        }

        select.form-control {
            font-size: 16px; /* Tamanho da fonte do select */
        }

        select.form-control:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2 rgba(0, 123, 255, 0.25);
        }

        .btn-danger {
            background-color: #dc3545; /* Cor de fundo do botão */
            border-color: #dc3545; /* Cor da borda do botão */
            color: #ffffff; /* Cor do texto do botão */
        }

        .btn-danger:hover {
            background-color: #c82333; /* Cor de fundo do botão ao passar o mouse */
            border-color: #bd2130; /* Cor da borda do botão ao passar o mouse */
        }

        .eu_sabo{
            position: relative;
            text-align: center;
            margin-top: 10%;
        }

        .eu_sabo img {
            width: 100px;
            height: 100px;
            transition: transform 0.3s ease-in-out;
            position: relative;
            z-index: 1;
        }

        .eu_sabo img:hover{
            transform: scale(1.1);
            cursor: pointer;

        }

        .eu_sabo h3{
            display: none;
            position: absolute; /* Altera para posição absoluta */
            top: -20%; /* Alinha o texto ao centro verticalmente */
            left: 50%; /* Alinha o texto ao centro horizontalmente */
            transform: translate(-50%, -50%); /* Centraliza o texto */
            transition: opacity 0.3s ease-in-out;
            z-index: 2; /* Define um z-index maior para o texto */
            font-weight: bold;
            font-family: Georgia, serif;
            text-align: center; /* Centralizar texto */
        }

    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const img = document.querySelector(".eu_sabo img");
            const h3 = document.querySelector(".eu_sabo h3");
    
            img.addEventListener("mouseover", function() {
                h3.style.display = "block";
            });
    
           img.addEventListener("mouseout", function() {
                h3.style.display = "none";
            });
        });
    </script>

  </head>
  <body>
    <div class="container mt-5 pt-5">
        <div class="col-md-6 mx-auto">
            <form> 
                <div class="form-group">
                    <label>Selecione a categoria</label>
                    <select name="categoria" class="form-control">
                        <option value="Escolha">Escolha</option>
                        {% for categoria in categorias %}
                        <option value="{{categoria.categoria_nome}}">{{categoria.categoria_nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-danger mb-3">Enviar</button>
            </form>
        </div>
    </div>
    <div class="eu_sabo">
        <h3>Eu sabo</h3>
        <img src="{% static 'einstein.png' %}">
    </div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

