{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'lampada.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>QuizFunny</title>

    <style>
        body {
            background-color: #f0ffff; /* Cor de fundo para todo o corpo */
            font-family: Arial, sans-serif; /* Fonte padrão */
        }

        .container {
            background-color: #ffffff; /* Fundo branco para o conteúdo */
            border-radius: 10px; /* Borda arredondada */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
            padding: 30px; /* Espaçamento interno */
        }

        h3 {
            font-family: Georgia, serif;
            color: #343a40; /* Cor do título principal */
            text-align: center; /* Centralizar texto */
        }

        h4 {
            font-family: Georgia, serif;
            color: #343a40; /* Cor do título principal */
            text-align: center; /* Centralizar texto */
        }

        h5 {
            color: #343a40; /* Cor do título principal */
            text-align: center; /* Centralizar texto */
        }

        hr {
            border-color: #dee2e6; /* Cor da linha horizontal */
            margin-top: 20px; /* Espaçamento acima da linha */
            margin-bottom: 20px; /* Espaçamento abaixo da linha */
        }

        p {
            color: #6c757d; /* Cor do texto principal */
            font-size: 18px; /* Tamanho da fonte */
        }

        .form-check-input {
            margin-top: 5px; /* Espaçamento acima do input */
        }

        .form-check-label {
            color: #343a40; /* Cor do texto das respostas */
            margin-left: 10px; /* Espaçamento à esquerda das respostas */
        }

        .correct-answer {
            background-color: #d4edda; /* Fundo verde claro para resposta correta */
            color: #155724; /* Texto verde escuro */
        }

        .wrong-answer {
            color: #721c24; /* Texto vermelho escuro */
        }

        .user-answer {
            background-color: #fff3cd; /* Fundo amarelo claro para resposta do usuário */
            color: #856404; /* Texto amarelo escuro */
        }

    </style>

  </head>
  <body>

    <div id="app">
      <div class="container mt-5 pt-5">
        <div class="col-md-6 mx-auto">
          <h3>{{ categoria }}</h3>
          <div v-for="questao in questoes" :key="questao.uid">
            <hr>
            <p>[[ questao.questao ]]</p>
            <div class="form-check" v-for="resposta in questao.resposta" :key="resposta.uid">
              <input @change="checkResposta($event , questao.uid)" :value="resposta.resposta" class="form-check-input" type="radio" :name="'flexRadioDefault' + questao.uid" :id="'flexRadioDefault' + resposta.uid" :checked="respostasUsuario[questao.uid] === resposta.resposta" :disabled="resultadosVisiveis">
              <label class="form-check-label" :for="'flexRadioDefault' + resposta.uid"
                :class="{
                  'correct-answer': resultadosVisiveis && resposta.is_correta,
                  'wrong-answer': resultadosVisiveis && !resposta.is_correta && respostasUsuario[questao.uid] === resposta.resposta,
                  'user-answer': resultadosVisiveis && !resposta.is_correta && respostasUsuario[questao.uid] === resposta.resposta
                }"
                >
                [[resposta.resposta]]
                <span v-if="resultadosVisiveis && resposta.is_correta" class="correct-answer">✔</span>
                <span v-if="resultadosVisiveis && !resposta.is_correta && respostasUsuario[questao.uid] === resposta.resposta" class="wrong-answer">✘</span>
              </label> 
            </div>
            <hr>
          </div>
          <!-- Botão Enviar -->
          <button @click="enviarRespostas" class="btn btn-primary mt-3 mb-3">Enviar</button>
          <div v-if="resultadosVisiveis">
            <h4>Resultado</h4>
              <h5>Você acertou [[ acertos ]] de [[questoes.length ]] perguntas!</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      var app = new Vue({
          el: '#app',
          delimiters: ['[[',']]'],
          data() {
              return {
                categoria: '{{ categoria }}',
                questoes: [],
                respostasUsuario: {},
                resultadosVisiveis: false,
                acertos: 0
              }
          },
          methods : {
            getQuestoes(){
              fetch(`/api/get-quiz/?categoria=${this.categoria}`)
              .then(response => response.json())
              .then(result =>{
                console.log(result)
                this.questoes = result.data
              })
            },
            checkResposta(event, uid) {
              this.$set(this.respostasUsuario, uid, event.target.value);
            },
            enviarRespostas() {
              this.resultadosVisiveis = true;
              this.contarAcertos();
            },
          
            contarAcertos(){
              this.acertos = 0;
              this.questoes.forEach(questao => {
                const respostaCorreta = questao.resposta.find(resposta => resposta.is_correta);
                if (this.respostasUsuario[questao.uid] === respostaCorreta.resposta){
                  this.acertos++;
                }
              });
            }},
            created() {
              this.getQuestoes()
            },
        });
      </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

